/CodeGenerator.Core/bin/Debug/CodeGenerator.Core.dll
/bin/Debug/*
/bin/Release/*
/obj/Debug/*
/obj/Release/*
/packages/*
Debug
/CodeGenerator.TemplateFactory/*.user
/.vs/SqlMapperCodeGenerator/v15/Server/sqlite3/*.lock
/.vs/SqlMapperCodeGenerator/v15/Server/sqlite3
/.vs/SqlMapperCodeGenerator/DesignTimeBuild/*.dtbcache
/.vs/SqlMapperCodeGenerator/v15/.suo
*.ide-wal
v15
/.vs/SqlMapperCodeGenerator/DesignTimeBuild/*.dtbcache
/CodeGenerator.Core/obj/Debug/*.dll
/CodeGenerator.Core/bin/Debug/*.dll
/CodeGenerator.Core/obj/Debug/*.pdb
/CodeGenerator.Core/bin/Debug/*.pdb
/CodeGenerator.TemplateFactory/obj/Debug/*.dll
/CodeGenerator.TemplateFactory/bin/Debug/*.dll
/CodeGenerator.TemplateFactory/obj/Debug/*.pdb
/CodeGenerator.TemplateFactory/bin/Debug/*.pdb
*ConnectionString.config
.vs*